*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar{
    background-color: rgb(4, 221, 4);
    height: 100px;
    width: 100%;
}

.left{
    width: 75%;
    height: 90vh;
    float: left;
    background-color: #fff;
}
.right{
    width: 25%;
    height: 90vh;
    float: right;
    background-color: rgb(211, 208, 208);
}